.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
}

.modal {
    padding: 30px;
    max-width: 480px;
    margin: 200px auto;
    background: #fff;
    border-radius: 10px;    
}

/*
h2 {...         -> applies to all h2 elements (global)
.modal h2 {...  -> applies to h2 elements of Modal component only
*/
.modal h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}